[submodule "storm-analysis"]
	path = storm-analysis
	url = https://github.com/ZhuangLab/storm-analysis.git
[submodule "storm_analysis"]
	path = storm-analysis
	url = git@github.com:ZhuangLab/storm-analysis.git
[submodule "ChromAn"]
	path = ChromAn
	url = git@github.com:zhengpuas47/ChromAn.git
[submodule "MERlin"]
	path = MERlin
	url = git@github.com:zhengpuas47/MERlin.git
